<div class="container">
    <div class="toolbar">
        <mat-toolbar color="primary">
            <button><a routerLink="/profile"><span class="material-icons">home</span></a></button>
            <!--<button><a routerLink="/history"><span class="material-icons">history</span></a></button>-->
            <button><a routerLink="/messages"><span class="material-icons">message</span></a></button>
            <button><a routerLink="/contact"><span class="material-icons">description</span></a></button>
            <button><a routerLink="/calendar"><span class="material-icons">date_range</span></a></button>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </div>
    <mat-card class="home-card">
        <div class="home-card-header">
            <div mat-card-avatar class="home-card-header-image"></div>
            <mat-card-title id="title">Naptár</mat-card-title>
        </div>
        <mat-card-content>
            <mat-card-actions>
                <mwl-calendar-month-view [viewDate]="viewDate"></mwl-calendar-month-view>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>